@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400');
@import url('https://css.gg/css');

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(39, 39, 39);
}

a,
a:visited,
a:active {
  text-decoration: underline;
  color: inherit;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.margin {
  margin-top: 50px;
}

.c-margin a {
  color: #000 !important;
  font-size: 21px;
}

.timeBox {
  margin: 5px;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
}

.sta_name {
  font-size: 1rem;
}


.c-margin2 {
  margin-bottom: 30px;
}

.btn-right {
  float: right;
}

.info-box {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  color: rgb(230, 93, 93);
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%);
}

.explain-box {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: #fff;
  color: rgb(68, 68, 68);
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%);
}

.box {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  color: rgb(68, 68, 68);
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%);
}

.container form {
  padding: 20px;
}

.info-box-margin {
  margin-top: 10px;
  margin-bottom: 30px;
}

.error-box {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
}

.send-error-box {
  padding: 30px;
  background-color: rgb(192, 65, 65);
  color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
}

.send-success-box {
  padding: 30px;
  background-color: rgb(86, 180, 133);
  color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
}

.time {
  font-size: 1rem;
}

.small {
  font-size: 0.7em;
}

.timetable {
  margin-top: 25px;
}

.swich-m {
  margin-top: 10px;
  margin-bottom: 20px;
}

.staBox {
  height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: solid 0.75px rgb(63, 63, 63);
}

.tab {
  border-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.tab .tab-item.active a {
  border-bottom-color: rgb(255, 255, 255);
  background-color: rgb(52, 104, 204);
  color: rgb(255, 255, 255) !important;
}

.tab .tab-item.celected a {
  border-bottom-color: rgb(255, 255, 255);
  background-color: rgb(127, 128, 129);
  color: rgb(255, 255, 255) !important;
}

@media screen and (max-width:480px) {
  .c-margin a {
    color: #000 !important;
    font-size: 16px;
  }

  .time {
    font-size: 18px;
  }

  .info-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    color: rgb(226, 78, 78);
  }

  .timeBox {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
  }

  .container form {
    padding: 10px;
  }
}